<% if @user.errors.full_messages %>
  <div>
    <ul class="text-danger">
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-6 mx-auto">
    <%= form_with url: "/users/#{@user.id}/update", html: { multipart: true } do |f| %>
      <div class="user_image">
        <%= image_tag "/user_images/#{@user.image_url}", alt: @user.name %>
      </div>
      <div class="form-group">
        <%= f.label "プロフィール画像" %>
        <%= f.file_field :image, class: 'form-control-file' %>
      </div>
      <div class="form-group">
        <%= f.label "名前" %>
        <%= f.text_field :name, value: @user.name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label "メールアドレス" %>
        <%= f.email_field :email, value: @user.email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label "自己紹介" %>
        <%= f.text_area :description, value: @user.description, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label "パスワード" %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <%= f.submit "更新", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>