<div class="row">
  <div class="col-8">
    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
      <% if @user.id == @current_user.id%>
        <li class="nav-item">
          <a class="nav-link" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab" aria-controls="timeline" aria-selected="true">タイムライン</a>
        </li>
      <% end %>
      
      <% unless @likes.empty? %>
        <li class="nav-item">
          <a class="nav-link" id="likes-tab" data-toggle="tab" href="#likes" role="tab" aria-controls="likes" aria-selected="false">いいね</a>
        </li>
      <% end %>
    </ul>
    
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
        <% @foods.each_slice(2) do |foods| %>
          <div class="card-deck mb-3">
            <% foods.each do |food| %>
              <div class="card">
                <%= image_tag food.picture.url, alt: food.name, class: "card-img-top" %>
                <div class="card-body">
                  <div><%= link_to food.name, "/foods/#{food.id}" %></div>
                  <%= food.description %>
                  <p class="text-muted"><%= food.shop_name %></p>
                  <small class="text-muted"><%= time_ago_in_words(food.created_at) %></small>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      
      <div class="tab-pane fade" id="likes" role="tabpanel" aria-labelledby="likes-tab">
      <% @likes.each_slice(2) do |likes| %>
          <div class="card-deck mb-3">
            <% likes = Like.where(user_id: @user.id) %>
            <% likes.each do |like| %>
            <% food = Food.find_by(id: like.food_id)%>
              <div class="card">
                <%= image_tag food.picture.url, alt: food.name, class: "card-img-top" %>
                <div class="card-body">
                  <div><%= link_to food.name, "/foods/#{food.id}" %></div>
                  <%= food.description %>
                  <p class="text-muted"><%= food.shop_name %></p>
                  <small class="text-muted"><%= time_ago_in_words(food.created_at) %></small>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="col-4 bg-light">
    <div class="user_image">
      <%= image_tag "/user_images/#{@user.image_url}", alt: @user.name %>
    </div>
    <div><%= @user.name %></div>
    <div><%= @user.description %></div>
    <%= link_to "編集", "/users/#{@user.id}/edit" %>
  </div>
</div>
