<% if @food.errors.full_messages %>
<div>
  <ul class="text-danger">
    <% @food.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-6 mx-auto">
    <%= form_tag("/foods/#{@food.id}/update") do %>
      <div class="form-group">
        <label for="name">グルメの名前</label>
        <input class="form-control" id="name" name="name" value="<%= @food.name %>">
      </div>
      <div class="form-group">
        <label for="shop_name">お店の名前</label>
        <input class="form-control" id="shop_name" name="shop_name" value="<%= @food.shop_name %>">
      </div>
      <div class="form-group">
        <label for="description">説明</label>
        <textarea class="form-control" id="description" name="description"><%= @food.description %></textarea>
      </div>
      <button class="btn btn-primary" type="submit">更新</button>
    <% end %>
  </div>
</div>