<% @foods.each_slice(3) do |foods| %>
  <div class="card-deck mb-3">
    <% foods.each do |food| %>
      <div class="card">
        <%= image_tag "/food_images/#{food.image_url}", class: "card-img-top" %>
        <div class="card-body">
          <div><%= link_to food.name, "/foods/#{food.id}" %></div>
          <%= food.description %>
          <p class="text-muted"><%= food.shop_name %></p>
          <small class="text-muted"><%= time_ago_in_words(food.created_at) + " ago" %></small>
        </div>
      </div>
    <% end %>
  </div>
<% end %>