<% @foods.each_slice(3) do |foods| %>
  <div class="card-deck mb-3">
    <% foods.each do |food| %>
      <div class="card shadow-sm" style="max-width: 350px;">
        <%= link_to image_tag(food.picture.url, alt: food.name, class: "card-img-top"), "/foods/#{food.id}" %>
        <div class="card-body">
          <div><%= link_to food.name, "/foods/#{food.id}" %></div>
          <p><%= food.description %></p>
          <div class="text-muted"><%= food.shop_name %></div>
          <small class="text-muted"><%= time_ago_in_words(food.created_at) + "å‰" %></small>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%= paginate @foods %>