<div class="col-8 mx-auto">
  <div class="card shadow">
    <%= image_tag @food.picture.url, alt: @food.name %>
    <div class="card-body">
      <div><b><%= @food.name %></b></div>
      <p><%= @food.description %></p>
      <div class="text-muted"><%= @food.shop_name %></div>
      
      <small class="text-muted"><%= time_ago_in_words(@food.created_at) %> by <%= link_to @user.name, "/users/#{@user.id}" %></small>
      
      <div class="text-right">
        <% if @current_user %>
          <% if Like.find_by(user_id: @current_user.id, food_id: @food.id) %>
            <%= link_to "/likes/#{@food.id}/destroy", class: "btn btn-outline-primary", method: :delete do %>
            <i class="fas fa-thumbs-up"></i> いいね <%= Like.where(food_id: @food.id).count %>
            <% end %>
          <% else %>
            <%= link_to "/likes/#{@food.id}/create", class: "btn btn-outline-primary", method: :post do %>
            <i class="far fa-thumbs-up"></i> いいね <%= Like.where(food_id: @food.id).count %>
            <% end %>
          <% end %>
        
          <% if @food.user_id == @current_user.id %>
            <%= link_to "編集", "/foods/#{@food.id}/edit", class: "btn btn-outline-secondary" %>
            <%= link_to "削除", "/foods/#{@food.id}", class: "btn btn-outline-danger", method: :delete %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
