<!DOCTYPE html>
<html>
  <head>
    <title>ココノコレ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top mb-3">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <% if @current_user %>
          <%= link_to "ココノコレ", "/foods", class: "navbar-brand" %>
        <% else %>
          <%= link_to "ココノコレ", "/", class: "navbar-brand" %>
        <% end %>
        
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "グルメ一覧", "/foods", class: "nav-link" %>
            </li>
          </ul>
          
            <ul class="navbar-nav ml-auto mr-3">
              
              <% if !@current_user %>
                <li class="nav-item">
                  <%= link_to "会員登録", "/signup", class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", "/login", class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= @current_user.name %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "プロフィール確認", "/users/#{@current_user.id}", class: "dropdown-item" %>
                    <%= link_to "プロフィール編集", "/users/#{@current_user.id}/edit", class: "dropdown-item" %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "ログアウト", "/logout", method: "post", class: "dropdown-item" %>
                  </div>
                </li>
              <% end %>
            </ul>
            
          <% if @current_user %>
            <%= link_to "投稿する", "/foods/new", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </nav>
    
    <% unless action_name == "top" %><div class="container mt-5"><% end %>
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
      <% end %>
    
      <%= yield %>
    <% unless action_name == "top" %></div><% end %>
    
    <footer class="text-center py-5">
      <div class="container">
        <small class="text-muted">&copy; Kokonokore built by <%= link_to "Kota Hashihama", "https://kotahashihama.com/", target: "_blank" %></small>
      </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      $('.dropdown-toggle').dropdown()
    </script>
  </body>
</html>
